{% extends "base.html" %}
{% block base %}
<style>
    body {
        background-color: #ffeb3b;
    }

    
</style>
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home')}}">home</a>
    </div>
</nav>

<div class="card" style="width: 500px;margin:3% auto;">
    <div class="card-body">
        <form class="row g-3" method="POST" action="{{url_for('createtableDhtml', way="faker")}}">
            
            <!--weburl-->
            <div class="mb-3">
                <label for="weburl" class="form-label">web url</label>
                <input type="url" name="weburl" class="form-control" id="weburl" required>
            </div>
            <!--filename-->
            <div class="mb-3">
                <label for="filename" class="form-label">filename</label>
                <input type="text" name="filename" class="form-control" id="filename">
            </div>
            
            <!--type-->
            <div class="mb-3">
                <select name="type" class="form-select" aria-label="Default select example">
                    <option  value="csv">csv</option>
                    <option value="xlsx">excle file</option>
                    <option value="db">data base</option>
                  </select>
            </div>

            <!--tablenum-->
            <div class="mb-3">
                <label for="tablenum" class="form-label">table number</label>
                <input type="number" min="1" class="form-control" name="tablenum" id="tablenum" required>
            </div> 
             

            <button type="submit"style="background-color :yellow;border-color:yellow;" class="btn btn-warning">create</button>
        </form>
    </div>
</div>
{% endblock base %}